# Styler Object and Customising the Display
Styling and output display customisation should be performed after the data in a `DataFrame` has been processed. The Styler is not dynamically updated if further changes to the `DataFrame` are made. The `DataFrame.style` attribute is a property that returns a `Styler` object. It has a `_repr_html_` method defined on it so it is rendered automatically in Jupyter Notebook.

In [2]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
df = pd.DataFrame({
    "strings": ["Adam", "Mike"],
    "ints": [22, 23],
    "floats": [12.23, 1300.45]
})

df.style \
.format(precision=3, thousands=".", decimal=",") \
.format_index(str.upper, axis=1) \
.relabel_index(["row1", "row2"], axis=0)

Using `Styler` to `manipulate` the display is a useful feature because maintaining the `indexing` and `data values` for other purposes gives greater control. You do not have to overwrite your DataFrame to display it how you like. Here is a more comprehensive example of using the formatting functions whilst still relying on the underlying data for indexing and calculations.

In [22]:
weather_df = pd.DataFrame(np.random.rand(10, 2)*5,
                          index=pd.date_range(start="2022-01-01", periods=10),
                          columns=["Nepal", "India"])

def rain_condition(v):
    if v < 1.75:
        return "Dry"
    elif v < 2.75:
        return "Rain"
    return "Heavy Rain"

def make_look_good(styler):
    styler.set_caption("Weather Condition")
    styler.format(rain_condition)
    styler.format_index(lambda v: v.strftime("%A"))
    styler.background_gradient(axis=None, vmin=0, vmax=6, cmap='YlGnBu')
    return styler

(weather_df)

               Nepal     India
2022-01-01  2.070526  1.767871
2022-01-02  2.915653  1.462981
2022-01-03  4.541431  2.223032
2022-01-04  0.786357  3.532917
2022-01-05  3.323395  0.106603
2022-01-06  1.849069  4.810259
2022-01-07  4.962883  1.200097
2022-01-08  4.353830  3.131721
2022-01-09  2.941879  3.030472
2022-01-10  1.387507  1.229100

In [23]:
weather_df.loc["2022-01-01": "2022-01-07"].style.pipe(make_look_good)